.TH {{ quoteMan .Doc.Name }} 1 "{{ .Doc.GeneratedAt.Format "2 January 2006" }}"
.SH {{ quoteMan (i18n "doc.tmpl.man.section.name") }}
{{ quoteMan .Doc.Name }} \- {{ manInline .Doc.ShortDescription }}
.SH {{ quoteMan (i18n "doc.tmpl.man.section.synopsis") }}
\fB{{ quoteMan .Doc.Name }}\fP {{ quoteMan .Doc.Usage }}
{{- if .Doc.LongDescription }}
.SH {{ quoteMan (i18n "doc.tmpl.man.section.description") }}
{{ manInline .Doc.LongDescription }}

{{- end }}
{{- if .Doc.Groups }}
.SH {{ quoteMan (i18n "doc.tmpl.man.section.options") }}
{{- range .Doc.Groups }}
{{- if .ShortDescription }}
.SS {{ quoteMan .ShortDescription }}
{{- end }}
{{- if .LongDescription }}
{{ manInline .LongDescription }}

{{- end }}
{{- range .Options }}
.TP
\fB{{- if .Short }}\fB\-{{ quoteMan .Short }}\fR{{- end }}{{- if .Long }}{{ if .Short }}, {{ end }}\fB\-\-{{ quoteMan .Long }}\fR{{- end }}{{- if .Optional }} [\fI{{ quoteMan .ValueName }}={{ quoteMan .OptionalVal }}\fR]{{- else if .ValueName }} \fI{{ quoteMan .ValueName }}\fR{{- end }}{{- if .Default }} <{{ i18n "doc.tmpl.man.label.default_lower" }}: \fI{{ quoteMan .Default }}\fR>{{- end }}{{- if .Required }} (\fI{{ i18n "doc.tmpl.man.required" }}\fR){{- end }}\fP
{{- if .Description }}
{{ manInline .Description }}
{{- if hiddenMark .Hidden }} \fB({{ i18n "doc.tmpl.man.hidden" }})\fP{{ end }}
{{- else if hiddenMark .Hidden }}
\fB({{ i18n "doc.tmpl.man.hidden" }})\fP
{{- end }}
{{- if .Choices }}
\fB{{ i18n "doc.tmpl.man.label.choices" }}\fP: {{ quoteMan (join .Choices ", ") }}
{{- end }}
{{- if .Env }}
\fB{{ i18n "doc.tmpl.man.label.environment" }}\fP: {{ quoteMan .Env }}{{ if .EnvDelim }} ({{ i18n "doc.tmpl.man.label.delimiter" }} {{ quoteMan .EnvDelim }}){{ end }}
{{- end }}
{{- if .Optional }}
\fB{{ i18n "doc.tmpl.man.label.optional_value" }}\fP: {{ quoteMan .OptionalVal }}
{{- end }}
{{- if .Terminator }}
\fB{{ i18n "doc.tmpl.man.label.terminator" }}\fP: {{ quoteMan .Terminator }}
{{- end }}
{{- if .IniName }}
\fB{{ i18n "doc.tmpl.man.label.ini_key" }}\fP: {{ quoteMan .IniName }}
{{- end }}
{{- if .KeyValueDelim }}
\fB{{ i18n "doc.tmpl.man.label.key_value_delimiter" }}\fP: {{ quoteMan .KeyValueDelim }}
{{- end }}
{{- if .DefaultMask }}
\fB{{ i18n "doc.tmpl.man.label.default_mask" }}\fP: {{ quoteMan .DefaultMask }}
{{- end }}
{{- if .Base }}
\fB{{ i18n "doc.tmpl.man.label.base" }}\fP: {{ quoteMan .Base }}
{{- end }}
{{- if .UnquoteTag }}
\fB{{ i18n "doc.tmpl.man.label.unquote_tag" }}\fP: {{ quoteMan .UnquoteTag }}
{{- end }}
{{- if ne .Order 0 }}
\fB{{ i18n "doc.tmpl.man.label.order" }}\fP: {{ .Order }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- if .Doc.Commands }}
.SH {{ quoteMan (i18n "doc.tmpl.man.section.commands") }}
{{- if hasNamedCommandGroups .Doc.CommandGroups }}
{{- range .Doc.CommandGroups }}
{{- if .Name }}
.PP
\fB{{ quoteMan .Name }}\fP
{{- end }}
{{- range .Commands }}
{{ template "command" . }}
{{- end }}
{{- end }}
{{- else }}
{{- range .Doc.Commands }}
{{ template "command" . }}
{{- end }}
{{- end }}
{{- end }}

{{ define "command" }}
.SS {{ quoteMan .Name }}
{{ manInline .ShortDescription }}
{{- if .LongDescription }}

{{ manInline .LongDescription }}
{{- end }}
{{- if .UsageLine }}

\fB{{ i18n "doc.tmpl.man.label.usage" }}\fP: {{ quoteMan .UsageLine }}
{{- end }}
{{- if .Aliases }}

\fB{{ i18n "doc.tmpl.man.label.aliases" }}\fP: {{ quoteMan (join .Aliases ", ") }}
{{- end }}
{{- range .Groups }}
{{- if .ShortDescription }}
.SS {{ quoteMan .ShortDescription }}
{{- end }}
{{- if .LongDescription }}
{{ manInline .LongDescription }}

{{- end }}
{{- range .Options }}
.TP
\fB{{- if .Short }}\fB\-{{ quoteMan .Short }}\fR{{- end }}{{- if .Long }}{{ if .Short }}, {{ end }}\fB\-\-{{ quoteMan .Long }}\fR{{- end }}{{- if .Optional }} [\fI{{ quoteMan .ValueName }}={{ quoteMan .OptionalVal }}\fR]{{- else if .ValueName }} \fI{{ quoteMan .ValueName }}\fR{{- end }}{{- if .Default }} <{{ i18n "doc.tmpl.man.label.default_lower" }}: \fI{{ quoteMan .Default }}\fR>{{- end }}{{- if .Required }} (\fI{{ i18n "doc.tmpl.man.required" }}\fR){{- end }}\fP
{{- if .Description }}
{{ manInline .Description }}
{{- if hiddenMark .Hidden }} \fB({{ i18n "doc.tmpl.man.hidden" }})\fP{{ end }}
{{- else if hiddenMark .Hidden }}
\fB({{ i18n "doc.tmpl.man.hidden" }})\fP
{{- end }}
{{- if .Choices }}
\fB{{ i18n "doc.tmpl.man.label.choices" }}\fP: {{ quoteMan (join .Choices ", ") }}
{{- end }}
{{- if .Env }}
\fB{{ i18n "doc.tmpl.man.label.environment" }}\fP: {{ quoteMan .Env }}{{ if .EnvDelim }} ({{ i18n "doc.tmpl.man.label.delimiter" }} {{ quoteMan .EnvDelim }}){{ end }}
{{- end }}
{{- if .Optional }}
\fB{{ i18n "doc.tmpl.man.label.optional_value" }}\fP: {{ quoteMan .OptionalVal }}
{{- end }}
{{- if .Terminator }}
\fB{{ i18n "doc.tmpl.man.label.terminator" }}\fP: {{ quoteMan .Terminator }}
{{- end }}
{{- if .IniName }}
\fB{{ i18n "doc.tmpl.man.label.ini_key" }}\fP: {{ quoteMan .IniName }}
{{- end }}
{{- if .KeyValueDelim }}
\fB{{ i18n "doc.tmpl.man.label.key_value_delimiter" }}\fP: {{ quoteMan .KeyValueDelim }}
{{- end }}
{{- if .DefaultMask }}
\fB{{ i18n "doc.tmpl.man.label.default_mask" }}\fP: {{ quoteMan .DefaultMask }}
{{- end }}
{{- if .Base }}
\fB{{ i18n "doc.tmpl.man.label.base" }}\fP: {{ quoteMan .Base }}
{{- end }}
{{- if .UnquoteTag }}
\fB{{ i18n "doc.tmpl.man.label.unquote_tag" }}\fP: {{ quoteMan .UnquoteTag }}
{{- end }}
{{- if ne .Order 0 }}
\fB{{ i18n "doc.tmpl.man.label.order" }}\fP: {{ .Order }}
{{- end }}
{{- end }}
{{- end }}
{{- if hasNamedCommandGroups .CommandGroups }}
{{- range .CommandGroups }}
{{- if .Name }}
.PP
\fB{{ quoteMan .Name }}\fP
{{- end }}
{{- range .Commands }}
{{ template "command" . }}
{{- end }}
{{- end }}
{{- else }}
{{- range .Commands }}
{{ template "command" . }}
{{- end }}
{{- end }}
{{ end }}
